
.DS_Store
Thumbs.db


__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/


.venv/
venv/
env/
ENV/
*.env
*.env.*
.python-version  # pyenv


.vscode/
.idea/
*.code-workspace


.pytest_cache/
.coverage
coverage.xml
htmlcov/
.mypy_cache/
.pyre/
.pylint.d/


.ipynb_checkpoints/


.streamlit/secrets.toml        
.streamlit/*credentials*


results/
logs/
*.log

*.tmp
.cache/
